.geoapify-autocomplete-input {
    padding: 0 31px 0 7px;
    width: calc(100% - 40px);

    outline: none;

    line-height: 36px;
    height: 36px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;

    background-color: rgba(255, 255, 255, 0.1);
    color:  rgba(255, 255, 255, 0.8);

    font-size: 14px;
}

.geoapify-autocomplete-input::placeholder {
    color:  rgba(255, 255, 255, 0.5);
}

.geoapify-autocomplete-items {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    right: 0;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    overflow: hidden;

    background-color: #313131;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 10px 2px rgba(255, 255, 255, 0.1);

    z-index: 99;
}

.geoapify-autocomplete-items div {
    padding: 10px;
    cursor: pointer;
}

.geoapify-autocomplete-items div:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.geoapify-autocomplete-items .active {
    background-color: rgba(255, 255, 255, 0.1);
}

.geoapify-autocomplete-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.geoapify-autocomplete-item .icon {
    display: inline-block;
    width: 40px;
    height: 24px;
    color: #aaa;
}

.geoapify-autocomplete-item .icon.emoji {
    color: unset;
    font-size: 20px;
    opacity: 0.9;
}

.geoapify-close-button {
    position: absolute;
    right: 5px;
    top: 0;

    height: 100%;
    display: none;
    align-items: center;
}

.geoapify-close-button.visible {
    display: flex;
}

.geoapify-close-button {
    color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.geoapify-close-button:hover {
    color: rgba(255, 255, 255, 0.6);
}

.geoapify-autocomplete-items .secondary-part {
    margin-left: 10px;
    font-size: small;
    color: rgba(255, 255, 255, 0.6);
}

.geoapify-autocomplete-items .main-part .non-verified {
    color:  #ff8080;
}